.env
__pycache__/
*.pyc
venv/
.DS_Store
*.class
out.txt
out/
target/
generated-tests/
generated-code/
generated-data/
generated/**
!generated/
!generated/data-generator-code/
!generated/json-data/
!generated/junit-tests/
!generated/reports/
!generated/**/.gitkeep
